<div class="card m-5">
  <div class="card-body">
    <h2 class="text-center m-5">Cadastro de Respostas de Atividades</h2>
    <form #responderAtividadeForm="ngForm" name="responderAtividadeForm" id="
      responderAtividadeForm">
      <div fxLayout="row">
        <div fxFlex=80>
          <div *ngFor="let pergunta of perguntas; let i = index">
            <div *ngIf="pergunta.arquivo" fxLayout="row" class="m-3">
              <label class="text-center" fxFlex=20 for="exibeImagem-{{i}}"> <strong>Imagem {{i+1}}</strong></label>
              <img style="width: 600px;height: auto;" fxFlex=80 id="exibeImagem-{{i}}" src="{{pergunta.arquivo}}">
            </div>
            <div fxLayout="row" class="m-3">
              <label class="text-center" fxFlex=20 for="inputPergunta-{{i}}"><strong>Pergunta {{i+1}}:</strong></label>
              <input fxFlex=80 id="inputPergunta-{{i}}" disabled name="inputPergunta-{{i}}"
                [(ngModel)]="pergunta.pergunta" type="text">
            </div>
            <div *ngIf="!pergunta.objetiva">
              <div fxLayout="row" class="m-3">
                <label class="text-center" fxFlex=20 for="inputPerguntaResposta-{{i}}"><strong>Resposta
                    {{i+1}}:</strong></label>
                <input fxFlex=80 id="inputPerguntaResposta-{{i}}" name="inputPerguntaResposta-{{i}}"
                  [(ngModel)]="pergunta.resposta" required="!pergunta.objetiva" type="text">
              </div>
              <div fxLayout="row" class="m-3">
                <p fxFlexOffset=20 *ngIf="submitted && !pergunta.resposta && !pergunta.objetiva" style="color: red;">
                  Campo obrigatório</p>
              </div>
            </div>
            <div *ngIf="pergunta.objetiva">
              <div fxLayout="row" class="m-3">
                <label class="text-center" fxFlex=20 for="inputPerguntaResposta-{{i}}"><strong>Resposta
                    {{i+1}}:</strong></label>
                <select fxFlex=80 name="inputPerguntaResposta-{{i}}" id="inputPerguntaResposta-{{i}}"
                  [(ngModel)]="pergunta.resposta" required="pergunta.objetiva">
                  <option value="">Selecione uma resposta</option>
                  <option value="{{opcao.value}}" *ngFor="let opcao of pergunta.opcoes"> {{ opcao.opcao }} </option>
                </select>
              </div>
              <div fxLayout="row" class="m-3">
                <p fxFlexOffset=20 *ngIf="submitted && !pergunta.resposta && pergunta.objetiva" style="color: red;">
                  Campo obrigatório</p>
              </div>
            </div>
          </div>
          <div *ngFor="let midia of midias; let j = index">
            <div fxLayout="row" class="m-3">
              <label class="text-center" fxFlex=20 for="inputNome"><strong>Mídia {{j+1}}:</strong></label>
              <input fxFlex=80 id="inputNome" disabled name="inputNome" [(ngModel)]="midia.nome" type="text">
            </div>
            <div fxLayout="row" class="m-3">
              <label class="text-center" fxFlex=20 for="inputLink"><strong>Link {{j+1}}:</strong></label>
              <a href="{{midia.link}}" target="_blank">link</a>
            </div>
          </div>
          <div *ngIf="atividade && atividade.AtividadeId" class="row" class="m-3" style="text-align: end;">
            <button (click)="resetarResponderAtividade()" type=" button" class="btn btn-warning m-3">
              Cancelar</button>
            <button type="button" class="btn btn-primary m-3"
              (click)="salvarResponderAtividade(responderAtividadeForm)">
              {{ cadastrarResponderAtividade }} </button>
          </div>
        </div>
        <div fxFlex=20>
          <img src="https://i.ibb.co/8BZWGZK/patodonald.jpg" alt="" style="width: 200px; height: 200px;">
        </div>
      </div>
    </form>
  </div>

  <div fxFlex class="card">
    <div class="card-body">
      <div class="card border shadow">
        <div class="card-body">
          <p-table [styleClass]="'bg-green'" #dt [value]="atividades" class="table" [responsive]="true"
            [paginator]="true" [rows]="10" [globalFilterFields]="['id', 'nome']"
            [rowsPerPageOptions]="[10, 20, 50, 100]">
            <ng-template pTemplate="caption">
              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                <div fxFlex="250px">
                  <input type="text" class="form-control" size="50" placeholder="Pesquisar"
                    (input)="dt.filterGlobal($event.target.value, 'contains')">
                </div>
                <div fxFlex="10px">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="text-left" [style.width.px]="100" [pSortableColumn]="'rowIndex'">
                  <span></span>
                  <p-sortIcon [field]="'rowIndex'"></p-sortIcon>
                </th>
                <th class="text-left" [style.width.px]="100" [pSortableColumn]="'Id'">
                  <span>Id</span>
                  <p-sortIcon [field]="'id'"></p-sortIcon>
                </th>
                <th class="text-left" [pSortableColumn]="'Nome'">
                  <span>Nome</span>
                  <p-sortIcon [field]="'nome'"></p-sortIcon>
                </th>
                <th class="text-center">Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-objeto let-rowIndex="rowIndex">
              <tr>
                <td ngClass.xs="text-left" ngClass.sm="text-left" ngClass="text-left">
                  <div>{{ rowIndex + 1 }}</div>
                </td>
                <td ngClass.xs="text-left" ngClass.sm="text-left" ngClass="text-left">
                  <div>{{ objeto.id }}</div>
                </td>
                <td ngClass.xs="text-left" ngClass.sm="text-left" ngClass="text-left">
                  <div>
                    {{ objeto.nome }}</div>
                </td>
                <td ngClass="text-center">
                  <span (click)="responderAtividade(objeto.id)" class="badge badge-success mr-3"
                    style="cursor: pointer;">Responder</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="6" class="text-center">
                  Registros não encontrados
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>